.search-bar {
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-bar form {
  margin: 5px;
  margin-top: 1%;
}
.search-bar label {
  margin: 5px;
}
#search-bar {
  width: 100%;
  height: 20px;
}

#read-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"] {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
