
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body{
    margin-top: 20px;
    font-family: sans-serif;
    background-color:rgb(31, 30, 30);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Special Elite', cursive;
    font-weight: normal;
}
h2{
    font-family: 'Special Elite', cursive;
    font-weight: normal;
}